#product-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,200px));
    gap:16px;
    padding:20px;
    border:5px solid #f39c12;

}
.image-card{
    width:200px;
}
.image-card img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.image-card:hover{
    transform: scale(1.05);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#444444 40%,#f39c12);
    color: antiquewhite;
}
header h1{font-size: 2.5rem;}
header p{ font-size: 1.5rem;}